* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
  font-family: 'Open Sans', sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;

}